:root {
  --color-text: #000000;
  --color-text-secondary: #ffffff;
  --color-primary: #ffffff;
  --color-secondary: #1a3571;
  --color-dark: #290076;
  --color-bg: #ffffff;
  --font-robot: "Roboto";
}
